@model WebFastFood.Models.Role

@{
    ViewBag.Title = "Details";
}


<div>
    <h1>Chi tiết chức vụ</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IDRole)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IDRole)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NameRole)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NameRole)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>

    </dl>
</div>
<p>
    <a href="~/Role/Index" class="btn btn-default" style="margin-left:10px">Quay lại</a>
</p>
