@model IEnumerable<WebFastFood.Models.Coupon>

@{
    ViewBag.Title = "Index";
}

<h1>Khuyến mãi</h1>
<hr />
<a href="~/Coupon/Create" class="btn btn-default" style="margin-bottom:10px">Tạo mới</a>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDCoupon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameCoupon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImageCoupon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDCoupon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameCoupon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            <img src="@Url.Content(item.ImageCoupon)" height="100" width="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
